bin/
dbg/
.vscode/
.metadata/
callgrind.*
massif.*
*.node
*.ele
/software/fidelta
/showme/showme
Packages/
hardware/ip_cache
hardware/RemoteSystemsTempFiles
hardware/webtalk
hardware/*.log
hardware/vitis_pid21813.str
